<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Bank Of Kevin</ion-title>
    
  </ion-navbar>
<ion-toolbar>
<ion-title>Log In</ion-title>

</ion-toolbar>

</ion-header>


<ion-content padding>
    
<ion-list>
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
</ion-list>
<button ion-button full color="primary" (click)="logIn()">Log In</button>
</ion-content>

<ion-footer color="light">
    <ion-title>Your Money Is Safe With Us&reg;</ion-title>
</ion-footer>
