<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Bank Of Kevin</ion-title>
    <p>
      Your Money Is Safe With Us&reg;
    </p>
  </ion-navbar>
<ion-toolbar>
  <ion-title>Home</ion-title>
  <ion-buttons item-right>
    
    <button ion-button icon-left color="primary" (click)="navToLoginPage()"><ion-icon name="person"></ion-icon>Log In</button>
  </ion-buttons>
</ion-toolbar>
</ion-header>


<ion-content padding>

</ion-content>
