<!--
  Generated template for the MyAccountsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  color="primary">
    <ion-title>My Accounts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<div *ngIf="myAccounts?.length == 0">
  <p>You have no open accounts.</p>

  <button ion-button block color="primary">Create One</button>
</div>
<ion-list *ngIf="myAccounts?.length > 0">
  <ion-item *ngFor="let account of myAccounts">
    <ion-label>{{account.accountNumber}}</ion-label>
    <ion-label>{{account.accountType}}</ion-label>
    <ion-label>{{account.balance | currency }}</ion-label>
  </ion-item>
</ion-list>
</ion-content>
