<!--
  Generated template for the AccountOverviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Bank Of Kevin</ion-title>
      <ion-buttons end>
          <button (click)="logout()" ion-button icon-left>
            <ion-icon name="exit"></ion-icon> Log Out
          </button>
        </ion-buttons>
    </ion-navbar>

  </ion-header>
<ion-content>
    <ion-tabs>
        <ion-tab tabTitle="Feed" [root]="feed"></ion-tab>
        <ion-tab tabTitle="My Accounts" [root]="myAccounts"></ion-tab>
        <ion-tab tabTitle="My Transfers" [root]="myTransfers"></ion-tab>
        <ion-tab tabTitle="My Disputes" [root]="myDisputes"></ion-tab>
        <ion-tab tabTitle="Help" [root]="help"></ion-tab>
      </ion-tabs>
    </ion-content>  
      <ion-footer color="light">
          <ion-note>Your Money Is Safe With Us&reg;</ion-note>
      </ion-footer>
