<!--
  Generated template for the MyTransfersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  color="primary">
    <ion-title>My Transfers</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <p *ngIf="!transfers || transfers?.length == 0">You do not have any current transfers.</p>
  <ion-list *ngIf="transfers?.length > 0">
    <ion-item *ngFor="let transfer of transfers">
      <ion-label>{{transfer.payee.accountNumber}}</ion-label>
      <ion-label>{{transfer.amount | currency }}</ion-label>
      <ion-label>{{transfer.created}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
